<div class="container" ng-controller="gradeController">
	<div class="row">
		<center><h1><b>UML Parser</b></h1></center>
	</div>
    <div class="row">
        <center><h2><b>Grade</b></h2></center>
    </div>
	<div class="row">
			<center>
				<label>
					Select Tenant :
				</label>
				<select ng-model="selectedTenant" ng-change="display()">
					<option ng-repeat="t in tenants" value="{{t.tenant}}">{{t.tenant}}</option>
				</select>
			</center>
			<br>
	</div>

	<div ng-show="isTenantSelected">
		<form name="uploadForm" ng-submit="submit()" class="form-group">

			<div class="row radio" ng-show="isTenant1">
				<center>
					<label>
						<input type="radio" name="radio" ng-model="tenant1.diagramType" value="class">
					    Class Diagram
					</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<label>
					    <input type="radio" name="radio" ng-model="tenant1.diagramType" value="sequence">
					    Sequence Diagram
					</label><br/>
				</center>
			</div>
			<div class="row" ng-show="isZip">
				<div class="col-md-4 col-md-offset-4">
					<center>
						<button type="button" class="btn" ngf-select ng-click=clearDiagram() ng-model="file" name="file" ngf-accept="'.zip'" ngf-pattern="'.zip'" ngf-max-size="20MB">Select File</button><br>
						{{message}}

					</center>
					<br>
				</div>
			</div>

			<div class="row" ng-show="isText">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<br>
					<center>
						<textarea class="form-control" placeholder="Past JAVA code here..." ng-model="javaCode"  rows="10" cols ="70" maxlength="500000">
						</textarea>
					</center>
					<br>
				</div>
			</div>

			<div class="row">
					<center>
						<button type="submit">Submit</button>
					</center>
			</div>
			 <div class="alert alert-danger" ng-show="isIncomplete">
                <strong>Upload a File </strong> or <strong>Paste JAVA code</strong> first.
             </div>
             <div class="alert alert-danger" ng-show="isInvalidFile">
                <strong>Please Upload a File First</strong>
             </div>
			 <div class="alert alert-danger" ng-show="isInValidJavaCode">
                <strong>Invalid JAVA Code. Please recheck the code.</strong>
             </div>
		</form>
		<div class="row" margin-top="10em">
				<center>
					<input type="button" ng-click="generateDiagram()" value="Generate Class Diagram" class="btn btn-primary"/>
				</center>
		</div>
		<div class="col-md-12" >
                <div class="panel-heading clearfix" ng-show="isRequestSent">
                	<div class="panel panel-default">

                	<div id="myProgress">
                		<label class="label">Progress :</label><br>
  						<div id="myBar" >10%</div>
					</div>

					<div ng-show="isDiagramGenerated">
						<div class="row top-buffer">
							<center>
								<img ng-src={{diagram}}>
							</center>
							<br>
						</div>
						<div class="form-group">
							<div class="row" ng-show="tenant1.display">
								<center>
									<label>Grade : </label>
									<select ng-model="tenant1.grade">
										<option ng-repeat="g in grades" value="{{g.grade}}">{{g.grade}}</option>
									</select>
								</center>
								<br>
							</div>
							<div class="row" ng-show="tenant2.display">

								<div class="row">
									<center>
										Marks : <input type="text" placeholder="percentage" ng-model="tenant2.percentage"> in %<br><br>
									</center>
								</div>
								<div class="row text-center">
										<div class="col-md-3"></div>
										<div class="col-md-6">
										<textarea class="form-control" placeholder="Remarks..." ng-model="tenant2.remarks"  rows="3" maxlength="500000"></textarea>
										</div>
										<div class="col-md-3"></div>
								</div>
								</div></div>
								<br>
							</div>
							<div class="row" ng-show="tenant3.display">
								<center>
									<label>Score : </label>
									<select ng-model="tenant3.score">
										<option ng-repeat="s in scores" value="{{s.score}}">{{s.score}}</option>
									</select>
								</center>
								<br>
							</div>
							<div class="row radio" ng-show="tenant4.display">
								<center>
									<label>
										<input type="radio" ng-model="tenant4.status" value="complete">
									    Complete
									</label>
									<label>
									    <input type="radio" ng-model="tenant4.status" value="incomplete">
									    Incomplete
									</label><br/>
									<div class="row text-center">
										<div class="col-md-3"></div>
										<div class="col-md-6">
											<textarea class="form-control" placeholder="Remarks..." ng-model="tenant4.remarks"  rows="3" cols ="50" maxlength="500000"></textarea>
										</div>
								</center>
							</div>
							<div class="row" ng-show="isDiagramGenerated">
								<center>
								<button class="btn-primary" ng-click="submitGrades()">Submit Assessment</button>
								<br>
								{{finalmessage}}
								<br>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
