<div class="container" ng-controller="gradeController">
	<div class=row>
	    <div class="col-sm-4">
			<div class="row ">
				<div class="col-sm-3">
					<select ng-model="selectedTenant" ng-change="display()">
						<option ng-repeat="t in tenants" value="{{t.tenant}}">{{t.tenant}}</option>
					</select>
				</div>
			</div>
			<div ng-show="isTenantSelected">
				<form name="uploadForm" ng-submit="submit()">
					<div class="row" ng-show="isZip" ng>
						<div class="col-sm-3">
							<button type="button" class="btn" ngf-select ng-model="file" name="file" ngf-accept="'.zip'" ngf-pattern="'.zip'" ngf-max-size="20MB">Select</button>
						</div>
					</div>

					<div class="row" ng-show="isText">
						<div class="col-sm-6">
							<textarea placeholder="Past JAVA code here..." ng-model="javaCode"  rows="10" cols ="70" maxlength="500000">
							</textarea>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-3">
							<button type="submit">Submit</button>
						</div>
					</div>
					 <div class="alert alert-danger" ng-show="isIncomplete">
                        <strong>Upload a File </strong> or <strong>Paste JAVA code</strong> first.
                     </div>
				</form>
				<div class="row">
					<div class="col-sm-3 top-buffer">
						<input type="button" ng-click="generateDiagram()" value="Generate Class Diagram" class="btn btn-primary"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
